<!-- Weird.  Don't need an <html> or <body> element.
     Supplied by an outer layer? -->

<label for="country">Choose a country</label>
<select id="country" (change)="selectionChanged($event)">
  <!--
  <option value="canada">Canada</option>
  <option value="unitedstates">United States</option>
  <option value="mexico">Mexico</option>
  -->
  <!-- [options]="countries" -->
  <option *ngFor="let country of countries" [value]="country.ident">{{country.name}}</option>
</select>

<div id="in-flight" *ngIf="inFlight">
  Request in flight.
</div>

<div id="has-error" *ngIf="hasError">
  <div>
    {{errorType}}
  </div>
  <div>
    {{errorMessage}}
  </div>
</div>

<div id="for-debug">
  <div>
    For debug.  First row of returned information:
  </div>
  <div>
    {{firstRow}}
  </div>
</div>

<div id="results">
  <div class="header">
    <span>Date</span>
    <span>Number of Cases</span>
  </div>
  <div class="row-of-data" *ngFor="let day of days">
    <span>{{day.date}}</span>
    <span>{{day.numberOfCases}}</span>
  </div>
</div>

<router-outlet></router-outlet>
